<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
!pip install ipython-sql
!pip install ipython-sql prettytable

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

In [6]:
%sql sqlite:///my_data1.db

In [7]:
import pandas as pd
df = pd.read_csv("./Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [8]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
import sqlite3
import pandas as pd

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')

# Create a table from the CSV file
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False)

# Execute the SQL query
cur = con.cursor()
cur.execute("SELECT DISTINCT Launch_Site FROM SPACEXTBL")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row)

# Close the connection
con.close()

('CCAFS LC-40',)
('VAFB SLC-4E',)
('KSC LC-39A',)
('CCAFS SLC-40',)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT * FROM SPACEXTBL
    WHERE "Launch_Site" LIKE 'CCA%'
    LIMIT 5;
""")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row)

# Close the connection
con.close()

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT SUM(Payload_Mass__kg_) 
    FROM SPACEXTBL 
    WHERE Customer = 'NASA (CRS)';
""")

# Fetch and print the results
results = cur.fetchone()
print("Total payload mass carried by NASA (CRS) boosters:", results[0])

# Close the connection
con.close()

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT AVG(Payload_Mass__kg_) 
    FROM SPACEXTBL 
    WHERE "Booster_Version" = 'F9 v1.1';
""")

# Fetch and print the results
results = cur.fetchone()
print("Average payload mass carried by F9 v1.1 booster:", results[0])

# Close the connection
con.close()

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT MIN(Date) 
    FROM SPACEXTBL 
    WHERE "Landing_Outcome" = 'Success (ground pad)';
""")

# Fetch and print the results
results = cur.fetchone()
print("Date of first successful landing outcome in ground pad:", results[0])

# Close the connection
con.close()

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT "Booster_Version" 
    FROM SPACEXTBL 
    WHERE "Landing_Outcome" = 'Success (drone ship)' 
    AND Payload_Mass__kg_ > 4000 
    AND Payload_Mass__kg_ < 6000;
""")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row[0])

# Close the connection
con.close()

### Task 7




##### List the total number of successful and failure mission outcomes

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT 
        SUM(CASE WHEN Mission_Outcome = 'Success' THEN 1 ELSE 0 END) AS Successful_Missions,
        SUM(CASE WHEN Mission_Outcome = 'Failure' THEN 1 ELSE 0 END) AS Failed_Missions
    FROM SPACEXTBL;
""")

# Fetch and print the results
results = cur.fetchone()
print(f"Successful Missions: {results[0]}")
print(f"Failed Missions: {results[1]}")

# Close the connection
con.close()

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT "Booster_Version" 
    FROM SPACEXTBL 
    WHERE Payload_Mass__kg_ = (
        SELECT MAX(Payload_Mass__kg_) 
        FROM SPACEXTBL
    );
""")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row[0])

# Close the connection
con.close()

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT 
        CASE 
            WHEN SUBSTR(Date, 6, 2) = '01' THEN 'January'
            WHEN SUBSTR(Date, 6, 2) = '02' THEN 'February'
            WHEN SUBSTR(Date, 6, 2) = '03' THEN 'March'
            WHEN SUBSTR(Date, 6, 2) = '04' THEN 'April'
            WHEN SUBSTR(Date, 6, 2) = '05' THEN 'May'
            WHEN SUBSTR(Date, 6, 2) = '06' THEN 'June'
            WHEN SUBSTR(Date, 6, 2) = '07' THEN 'July'
            WHEN SUBSTR(Date, 6, 2) = '08' THEN 'August'
            WHEN SUBSTR(Date, 6, 2) = '09' THEN 'September'
            WHEN SUBSTR(Date, 6, 2) = '10' THEN 'October'
            WHEN SUBSTR(Date, 6, 2) = '11' THEN 'November'
            WHEN SUBSTR(Date, 6, 2) = '12' THEN 'December'
        END AS Month,
        "Landing_Outcome",
        "Booster_Version",
        "Launch_Site"
    FROM SPACEXTBL
    WHERE SUBSTR(Date, 0, 5) = '2015'
    AND "Landing_Outcome" LIKE '%drone ship%';
""")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row)

# Close the connection
con.close()

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [ ]:
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Execute the SQL query
cur.execute("""
    SELECT 
        "Landing_Outcome",
        COUNT("Landing_Outcome") AS Outcome_Count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY "Landing_Outcome"
    ORDER BY Outcome_Count DESC;
""")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(f"Landing Outcome: {row[0]}, Count: {row[1]}")

# Close the connection
con.close()

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

In [ ]:
#Calculate the total number of successful and failure mission outcomes
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# Calculate the total number of successful and failure mission outcomes
cur.execute("""
    SELECT 
        SUM(CASE WHEN Mission_Outcome = 'Success' THEN 1 ELSE 0 END) AS Successful_Missions,
        SUM(CASE WHEN Mission_Outcome = 'Failure' THEN 1 ELSE 0 END) AS Failed_Missions
    FROM SPACEXTBL;
""")

# Fetch and print the results
results = cur.fetchone()
print(f"Successful Missions: {results[0]}")
print(f"Failed Missions: {results[1]}")

# Close the connection
con.close()

Successful Missions: 98
Failed Missions: 0

In [ ]:
# List the names of the booster which have carried the maximum payload mass
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()
# List the names of the booster which have carried the maximum payload mass
cur.execute("""
    SELECT "Booster_Version" 
    FROM SPACEXTBL 
    WHERE PAYLOAD_MASS__KG_ = (
        SELECT MAX(PAYLOAD_MASS__KG_) 
        FROM SPACEXTBL
    );
""")
# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row[0])
# Close the connection
con.close()

F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

In [17]:
# List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

# List the failed landing outcomes in drone ship, their booster versions, and launch site names for the year 2015
cur.execute("""
    SELECT 
        "Landing_Outcome",
        "Booster_Version",
        "Launch_Site"
    FROM SPACEXTBL
    WHERE SUBSTR(Date, 0, 5) = '2015'
    AND "Landing_Outcome" = 'Failure (drone ship)';
""")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(row)

# Close the connection
con.close()

('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40')
('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')

In [19]:
# Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order
import sqlite3

# Establish a connection to the SQLite database
con = sqlite3.connect('spacex.db')
cur = con.cursor()

cur.execute("""
    SELECT 
        "Landing_Outcome",
        COUNT("Landing_Outcome") AS Outcome_Count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY "Landing_Outcome"
    ORDER BY Outcome_Count DESC;
""")

# Fetch and print the results
results = cur.fetchall()
for row in results:
    print(f"Landing Outcome: {row[0]}, Count: {row[1]}")

# Close the connection
con.close()

Landing Outcome: No attempt, Count: 10
Landing Outcome: Success (drone ship), Count: 5
Landing Outcome: Failure (drone ship), Count: 5
Landing Outcome: Success (ground pad), Count: 3
Landing Outcome: Controlled (ocean), Count: 3
Landing Outcome: Uncontrolled (ocean), Count: 2
Landing Outcome: Failure (parachute), Count: 2
Landing Outcome: Precluded (drone ship), Count: 1

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>